__pycache__/
quant_models/
output/
gptq_method_2.py
.env
quantized_old/
quantized/
quantized_test/
old_results/
results/llm_optimization
results/optimization
results/*.txt
tuning_results/
test.ipynb
test.py
Llama*
*.log
*.json
*.csv
*.sh
CLAUDE.md
gptqmodel_offload/
docs/
.cache
.vscode