__pycache__/
quant_models/
output/
gptq_method_2.py
.env
quantized_old/
quantized/
old_results/
results/llm_optimization
results/optimization
results/*.txt
test.ipynb
test.py
Llama*
*.log
*.json
test.sh
CLAUDE.md
gptqmodel_offload/
.cache
.vscode